<?xml version="1.0"?>

<model>
  <name>Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Haruki SHIMOTORI</name>
    <email>underbird.h@gmail.com</email>
  </author>

  <description>
	  A Camera as an alternative to the line sensori.
  </description>
</model>
