<?xml version="1.0"?>
<!--
	 SPDX-License-Identifier: GPL-3.0-only

	 Copyright (C) 2020  Haruki Shimotori. All right reserved.
-->

<model>
	<name>Robotracer</name>
	<version>1.0</version>
	<sdf version='1.5'>model.sdf</sdf>

	<author>
		<name>Haruki SHIMOTORI</name>
		<email>underbird.h@gmail.com</email>
	</author>

	<license>GNU General Public License v3.0</license>

	<description>
		Robotracer model.
	</description>
</model>
